{% extends 'base.html' %}


{% block content %}
<div class="container signup-section">
    <div class="row">
        <div class="col-md-6 offset-md-3"> 
          {% if messages %}
            {% for message in messages %}
        
              <div class="alert alert-{{message.tags}} text-center messages" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>

    <div class="row" >
      <div class="col-md-4 offset-md-4">
          <h2 class="text-center">Update Your Profile</h2>
          <form class="form-group container signup-form" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
          
              {% for field in form %}
              <label>{{ field.label }}</label> 
              <br>
                {{ field }} 
              <br>  
              {% endfor %}
              <button class="btn btn-info">Update</button>
            </form>   
      </div>

    </div> 
</div>
{% endblock content %}