{% extends 'base.html' %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'custom/css/user_profile.css' %}">
{% endblock CSS%}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>User Profile</h1>
            
            <!--Profile Card 3-->
            <div class="col-md-6 offset-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                    </div>
                    <div class="profile-thumb-block">
                        {% if not profile.image %}
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        {% else %}
                            <img src="../..{{profile.image.url}}" alt="profile-image" class="profile"/>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h2><i class="fa fa-users"></i> {{ profile.customer.username}}</h2>
                        <h2>{{ profile.profession}}</h2>
                        <h3>Age: {{ profile.age}} years</h3>
                        <h3>phone: {{ profile.phone}} </h3>
                        <h3>Fax: {{ profile.fax}} </h3>
                        <h2>{{ profile.address}}</h2>
                        
                        <div class="icon-block">
                            <a href="#"><i class="social-icon fa fa-facebook"></i></a>
                            <a href="#"> <i class="social-icon fa fa-twitter"></i></a>
                        </div>
                    </div>
                    <a href="{% url 'update_user_profile' id %}"> <button class="mt-3 btn btn-sm bg-success">Update Profile</button></a>
                </div>

            </div>
        
        </div>
    </div>
  </section>
{% endblock content %}