{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'custom/css/products.css' %}"> 
{% endblock CSS %}

{%block content%}
<div class="container">
    <div class="row">
        
        {% for product in products %}
        <div class="col-md-4">
            <div class="product-card">
                <div class="badge">Top Sell</div>
                <div class="product-tumb">
                  <img src="..{{ product.image.url }}" alt="cloth">
                </div>
                <div class="product-details">
                  <span class="product-catagory">Men's cloth</span>
                  <h4><a href="">WoW ki sundor jama</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>$96.00</small>$230.99</div>
                        <div class="product-links">
                        <a class="btn btn-sm bg-success" href="{% url 'buy_product' product.id %}"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}